{% extends "index.html" %}
{% load i18n %}

{% block nav %}
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'eventos' %}">{% trans "Eventos" %}</a></li>
    <li class="selected"><a href="{% url 'organizadores' %}">{% trans "Organizadores" %}</a></li>
    <li><a href="{% url 'actividades' %}">{% trans "Actividades" %}</a></li>
    <li id="dark-mode">{% trans "Modo Oscuro" %}</li>
{% endblock %}

{% block content %}
<h1>{% trans "Eventos organizados por" %} {{organizador.username}} {% trans ":" %}</h1> 
<ul>
    {% for evento in eventos %}
    {% if evento.organizador.id == organizador.id %}
    <li>
        <h3><a href="{% url 'evento_actividades' evento.id %}">{{ evento.titulo }}</a></h3>
        <p>{{evento.descripcion}}</p>
        <p>{{actividad.dia}}</p>
        <img src="{{ evento.pancarta }}" alt="Pancarta del evento {{ evento.nombre }}">
    </li>{{actividad.nombre}}
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}