{% extends "index.html" %}
    
{% block nav %}
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'eventos' %}">Eventos</a></li>
    <li class="selected"><a href="{% url 'organizadores' %}">Organizadores</a></li>
    <li><a href="{% url 'actividades' %}">Actividades</a></li>
    <li id="dark-mode">Modo Oscuro</li>
{% endblock %}

{% block content %}
<h1>Eventos organizados por {{organizador.nombre}}</h1> 
<ul>
    {% for evento in eventos %}
    {% if evento.organizador.id == organizador.id %}
    <li>
        <h3><a href="{% url 'evento_actividades' evento.id %}">{{ evento.titulo }}</a></h3>
        <p>{{evento.descripcion}}</p>
        <p>{{actividad.dia}}</p>
        <img src="{{ evento.pancarta }}" alt="Pancarta del evento {{ evento.nombre }}">
    </li>{{actividad.nombre}}
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}