{% extends "index.html" %}
{% load i18n %}

{% block nav %}
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'eventos' %}">{% trans "Eventos" %}</a></li>
    <li class="selected"><a href="{% url 'organizadores' %}">{% trans "Organizadores" %}</a></li>
    <li><a href="{% url 'actividades' %}">{% trans "Actividades" %}</a></li>
    <li id="dark-mode">{% trans "Modo Oscuro" %}</li>
{% endblock %}



{% block content %}
<!-- insert the page content here -->
<h1>{% trans "Organizadores" %}</h1>

          <ul>
            {% for organizador in organizadores %}
            <li class="user-info">
                <img src="{{organizador.foto_perfil}}" class="pfp"/>
              

              <div>
                <h2>{{organizador.username}}</h2>
              <p>
                {% trans "Contacto:" %}
                <a href="mailto:{{organizador.email}}">{{organizador.email}}</a>
              </p>

              <a href="{% url 'organizador_eventos' organizador.id %}">{% trans "Eventos organizados" %}</a><br />
              </div>
            </li>
            {% endfor %}
          </ul>
{% endblock %}