{% extends "index.html" %}

{% block content %}
<!-- insert the page content here -->
<h1>Organizadores</h1>

          <ul>
            {% for organizador in organizadores %}
            <li class="user-info">
                <img src="{{organizador.foto_perfil}}" class="pfp"/>
              

              <div>
                <h2>{{organizador.nombre}}</h2>
              <p>
                Contacto:
                <a href="mailto:{{organizador.email}}">{{organizador.email}}</a>
              </p>

              <a href="{% url 'organizador_eventos' organizador.id %}">Eventos organizados</a><br />
              </div>
            </li>
            {% endfor %}
          </ul>
{% endblock %}