<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organizadores</title>
</head>
<body>
    <h1>Organizadores</h1>

    <ul>
        {% for organizador in organizadores %}
        <li>
            <h2>{{organizador.nombre}}</h2>
            <p>Contacto: <a href="mailto:{{organizador.email}}">{{organizador.email}}</a></p>
            
            <a href="{% url 'organizador_eventos' organizador.id %}">Eventos organizados</a><br>
            <h3>Foto de perfil:</h3>
            <img src="{{organizador.foto_perfil}}">
        </li>
        {% endfor %}
    </ul>
</body>
</html>