#content a{
    font-size: medium;    
}

img{
    width: 60%;
    height: 60%;
    border-radius:8px;
    margin-top:5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.17);
    margin-bottom: 5%;
}

p{
    font-weight: bold;
    padding-bottom:0;
    width: 60%;
}
#desc{
    font-weight: lighter; 
   
}