.evento {
    padding: 5px;
}

.link_evento {
    text-decoration: none;
    font-size: 25px;
}

.barra_divisoria {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin-top: 25px;
}

.event_block {
    display: flex;
    flex-direction: row;
}

.side_details {
    margin-left: 6%;
}
.side_details p {
    font-size: 15px;
}

.evento_imagen {
    border: 1px solid #00C6F0;
    box-shadow: 0 2px 6px #00C6F0;
    width: 18rem;
    height: 8rem;
}

.evento_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto_organizador {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 10px;
}

.organizador_nombre{
    margin-top: -1rem;
}

.organizador_nombre a{
    text-decoration: none;
    color: rgb(143, 143, 143);
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
}