.pfp {
    border: 5px solid #bbff00;
    border-radius: 100%;
    width: 25%;
    height: 250000%;
    margin-right: 30px;
    margin-bottom: 30px;
    object-fit: cover;
}

.user-info {
    display: flex;
}