{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClubApp</title>
</head>
<body>
    <h1>Bienvenido a UniClub!</h1>
    <p>Somos un club de la universidad, con la intención de conocernos entre nosotr@s mediante diferentes eventos sobre distintas temáticas.</p>
    <p>Si ves que algún evento te interesa, no dudes en inscribirte! Todo el mundo es bienvenido.</p>
    <h3><a href="{% url 'eventos' %}">Ver eventos</a></h3>
    <h3><a href="{% url 'organizadores' %}">Ver organizadores</a></h3>
    <h3><a href="{% url 'actividades' %}">Ver actividades </a></h3>
</body>
</html>