{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClubApp</title>
</head>
<body>
    <h1>Club</h1>
    <h2>Bienvenido a UniClub</h2>
    <p>Aqui encontraras los proximos eventos organizados por el club.</p>
    <img src="https://media.falabella.com/falabellaPE/883302413_1/w=800,h=800,fit=pad" alt="Botas mujer"><br>
    <a href="{% url 'eventos' %}">Ver eventos </a><br>
    <a href="{% url 'organizadores' %}">Ver organizadores </a><br>
    <a href="{% url 'actividades' %}">Ver actividades </a>
</body>
</html>