<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividades</title>
</head>
<body>
    <h1>Actividades del evento</h1>
    <ul>
        {% for actividad in actividades %}
        {% if actividad.evento.id == evento.id %}
        <li>
            <p> {{actividad.nombre}} </p>
            <p>{{actividad.descripcion}}</p>
            <p>{{actividad.hora}}</p>
            <img src="{{ actividad.foto }}" alt="Pancarta del evento {{ actividad.nombre }}">
        </li>
        {% endif %}
        {% endfor %}

    </ul>
</body>
</html>