{%extends 'index.html'%}
{% load i18n %}

{% block nav %}
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'eventos' %}">{% trans "Eventos" %}</a></li>
    <li><a href="{% url 'organizadores' %}">{% trans "Organizadores" %}</a></li>
    <li class="selected"><a href="{% url 'actividades' %}">{% trans "Actividades" %}</a></li>
    <li id="dark-mode">{% trans "Modo Oscuro" %}</li>
{% endblock %}

{% block content %}
    <h1>{% trans "Detalles de" %} {{actividad.nombre}} {% trans ":" %}</h1>
    <ul>

        <li>
            <p><strong>{{actividad.nombre}}</strong></p>
            <p>{{actividad.descripcion}}</p>
            <p><strong>{% trans "Hora" %}: </strong>{{actividad.hora}}</p>
            <div class="imagen_detalle_actividades"><img src="{{ actividad.foto }}" alt="Pancarta del evento {{ actividad.nombre }}"></div>
        </li>
    
       

    </ul>
{%endblock%}