{%extends 'index.html'%}

{% block nav %}
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="{% url 'index' %}">Home</a></li>
    <li class="selected"><a href="{% url 'eventos' %}">Eventos</a></li>
    <li><a href="{% url 'organizadores' %}">Organizadores</a></li>
    <li><a href="{% url 'actividades' %}">Actividades</a></li>
    <li id="dark-mode">Modo Oscuro</li>
{% endblock %}

{% block content %}
<h1>Eventos</h1>
          <ul>
            {% for evento in eventos %}
            <div class="evento">
              <li>
                <h2>
                  <a
                    class="link_evento"
                    href="{% url 'evento_actividades' evento.id %}"
                    >{{ evento.titulo }}</a
                  >
                </h2>
                <p class="descripcion_evento">{{evento.descripcion}}</p>

                <div class="event_block">
                  <div class="evento_imagen">
                    <img
                      src="{{ evento.pancarta }}"
                      alt="Pancarta del evento {{ evento.titulo }}"
                    />
                  </div>
                  <div class="side_details">
                    <p><strong>Fecha:</strong> {{evento.fecha}}</p>
                    <p>
                      <strong>Organizador/a:</strong><br>
                      <div class="organizador_nombre">
                      <img src="{{ evento.organizador.foto_perfil }}" alt="Foto del organizador {{ evento.organizador.username }}" class="foto_organizador"/>
                      <a href="{% url 'organizador_eventos' evento.organizador.id %}">{{evento.organizador.username}}</a>
                      </div>
                      <a href="{% url 'inscripcion' evento.id %}">
                      <button class="boton_inscripcion">Inscripcion</button>
                      </a>
                    </p>
                  </div>
                </div>
              </li>
              <a class="barra_divisoria"></a>
            </div>
            {% endfor %}
          </ul>
        </div>
{%endblock%}