{%extends 'index.html'%}
{% block nav %}
    <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'eventos' %}">Eventos</a></li>
    <li><a href="{% url 'organizadores' %}">Organizadores</a></li>
    <li><a href="{% url 'actividades' %}">Actividades</a></li>
    <li class="selected"><a href="{% url 'actividades' %}">Actividades</a></li>
    <li id="dark-mode">Modo Oscuro</li>
{% endblock %}
{% block content %}
    
    <form action="" method="post" class="formulario_inscripcion">
        {% csrf_token %}
        {% for field in form %}
        <div class="campos" > 
            {{ field.errors }} 
            {{ field.label_tag }} {{ field }}
            {% if field.help_text %}
            <p class="help">
            {{ field.help_text|safe }}
            </p>
            {% endif %}
        </div>
        {% endfor %}
    <input type="submit" value="Submit"/>

    
{%endblock%}